<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner by Zahidur</title>
  </head>

  <body class="home-template">
    <div class="site-wrapper">
      <header class="site-header outer no-cover">
        <div class="inner">
          <div class="site-header-content">
            <h2 class="site-title">
              Travel Planner
            </h2>
            <h3 class="site-description">
              Plan your next travel
            </h3>
          </div>
        </div>
      </header>

      <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
          <div class="post-feed">
            <section class="post-card errors">
              <div id="error">asasas</div>
            </section>
          </div>
          <div class="post-feed">
            <section class="post-card post section-form">
              <form id="add-trip-form">
                <div>
                  <label for="city"> My trip to:</label>
                  <input
                    type="text"
                    id="city"
                    required
                    placeholder="Enter a Location (e.g. Stockholm)"
                  />
                </div>

                <div>
                  <label for="date">Departing:</label>
                  <input
                    type="date"
                    id="date"
                    required
                    placeholder="yyyy/mm/dd"
                  />
                </div>

                <div>
                  <input
                    type="submit"
                    onclick="return Client.addHandleSubmit.addHandleSubmit(event)"
                    value="Add Trip"
                  />
                  <input
                    type="button"
                    onclick="return Client.addHandleSubmit.getList()"
                    value="Show All Trips"
                  />
                </div>
              </form>
            </section>
          </div>
          <div id="result-container"></div>
        </div>
      </main>

      <footer class="copyright">
        <span>© 2020 Zahidur</span>
      </footer>

      <script>
        // Check that service workers are supported
        if ("serviceWorker" in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener("load", () => {
            navigator.serviceWorker.register("/service-worker.js");
          });
        }
      </script>
    </div>
  </body>
</html>
