section.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5a5eb center center;
  padding-top: 5px;
  padding-bottom: 5px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 25px;
  margin: 10px 0;
  border: 1px solid #5c4343;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
}

input[type="button"],
button {
  background-color: #474242;
  border: none;
  color: white;
}
