/* Site Header */
header {
  display: flex;
  min-height: 150px;
  width: auto;
  border-bottom: 2px solid rgb(65, 65, 65);
  justify-content: center;
  align-items: center;
}

.site-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0 4vw;
  text-align: center;
}

.site-title {
  z-index: 10;
  margin: 0;
  padding: 40px 0 10px 0;
  font-size: 2.8rem;
  font-weight: 400;
  color: #5c4343;
}

.site-description {
  z-index: 10;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: var(--midnightblue);
}

@media (max-width: 500px) {
  .site-title {
    font-size: 3rem;
  }
  .site-description {
    font-size: 1.8rem;
  }
}
